name: Deploy EXE for Microsoft Store

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          ref: main # Checkout your code first

      - name: Download and Organize EXE
        run: |
          # Create the folder structure
          mkdir -p downloads/1.0.0
          
          # Download the file
          curl -L -o downloads/1.0.0/GemSuite.Setup.1.0.0.exe https://github.com/akash-srivastava-pvt/Apps/releases/download/v1.0.0/GemSuite.Setup.1.0.0.exe

      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./downloads
          destination_dir: downloads
          keep_files: true # Important: keeps previous versions if you add more later
